@font-face {
    font-family: "Futura";
    src: url("../assets/fontfutura.otf");
  }
  

html {
    font-family: "Open Sans", sans-serif;
  }

p{ 
    font-family: "Futura";
    font-size: 150pt;
    text-align: center;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    /* text-decoration: none; */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }