h1 {
  color: red;
}

/*Einfügen Font in ganzes html*/
html {
  font-family: "Open Sans", sans-serif;
}


body,html {
  background:#060a19;
}

#circle1 {
  width: 300px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background:#FF7557;
  position: relative;
}

#circle2 {
  width: 200px;
  height: 900px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background:#68b1b1;
  position: relative;
  top: -33px;
  rotate: (30deg);
}

#circle3 {
  width: 600px;
  height: 600px;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  background:#f0d643;
  position: relative;
  left: 300px;
  top: 20px
}