h1 {
  color: rgb(255, 187, 0);
}

p {
  color: rgb(255, 136, 0);
}

a {
  color: rgb(182, 178, 168);
}

/*Einfügen Font in ganzes html*/
html {
  font-family: "Open Sans", sans-serif;
}


body,html {
  background:#3d0303;
}
