h1 {
  color: red;
}

/*Einfügen Font in ganzes html*/
html {
  font-family: "Open Sans", sans-serif;
}


body,html {
  background:#060a19;
}

#circle1 {
  width: 300px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background:#FF7557;
  position: relative;
  top: 130px;
  left: 200px;
}

#circle2 {
  animation: pulse  10s infinite;
  animation-name: colorchange 2s infinite;
  width: 200px;
  height: 900px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-color:#68b1b1;
  position: relative;
  top: -300px; 
  left: 150px;
  rotate: (30deg);
}

@keyframes colorchange {
  from {background-color: #68b1b1}
  to {background-color: salmon;}
}



#circle3 {
  animation: pulse 2s infinite;
  width: 600px;
  height: 600px;
  -webkit-border-radius: 600px;
  -moz-border-radius: 600px;
  border-radius: 600px;
  background:#e42766;
  position: relative;
  left: 300px;
  top: 20px
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		box-shadow: 0 0 0 0 rgba(0, 300, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 8000px rgba(180, 18, 18, 0);
	}

	100% {
		transform: scale(0.3);
		box-shadow: 0 0 0 0 rgba(66, 18, 18, 0);
	}
}


#circle4 {
  animation: pulse  5s infinite;
  background-color: rgba(500, 232, 10, 3);
  border-radius: 50%;
  height: 60px;
  position: relative;
  width: 60px;
  top: -1500px;
  left: 250px;
}

@keyframes pulse {
	0% {
		transform: scale(0.3);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 100px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.3);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
